[user]
	name = {{ name }}
	email = {{ email }}
[alias]
	co = checkout
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = {{ home }}/.gitignore
	editor = emacs
	autocrlf = true
[apply]
	whitespace = warn
[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[github]
	user = {{ gh_user }}

